{% assign product = product_ref %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

{% capture img_id_class %}ProductImage-{{ product.featured_image.id }}{% endcapture %}
{% capture img_wrapper_id %}ProductImageWrapper-{{ product.featured_image.id }}{% endcapture %}
{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div class="{{ product.handle }} grid-product{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper">
    <div class="grid-product__inner" data-id="{{ product.variants.first.id }}" >
      <div class="{% if template contains 'index' %}grid-product__image-wrapper1{% else %}grid-product__image-wrapper{% endif %}">
        <a class="grid-product__image-link" href="{{ product.url | within: collection }}">
          <div id="{{ img_wrapper_id }}" class="product--wrapper">
            <img src="{{ product.featured_image | img_url: '450x450' }}" alt="{{ product.featured_image.alt | escape }}">
            
            {% for tag in product.tags %}
        {% if tag == 'limit:LimitedEdition' %}
        <div class="tag--limited_edition">
          {% if settings.limited_edition_image != blank %}
          <img src="{{ settings.limited_edition_image | img_url :  'original' }}" alt="" />
          {% endif %}
        </div>
        {% endif %}
        {% if tag == 'Badge:New' %}
        <div class="tag--limited_edition new--badge">
          {% if settings.new_badge != blank %}
          <img src="{{ settings.new_badge | img_url :  'original' }}" alt="" />
          {% endif %}
        </div>
        {% endif %}
        {% if tag == 'Badge:BestSeller' %}
        <div class="tag--limited_edition new--bestseller">
          {% if settings.best_seller != blank %}
          <img src="{{ settings.best_seller | img_url :  'original' }}" alt="" />
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
            
            
          </div>
        </a>
        {% if sold_out %}
        <div class="grid-product__sold-out">
          <p>{{ 'products.product.sold_out_html' | t }}</p>
        </div>
        {% elsif on_sale %}
        <div class="grid-product__on-sale">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}{% endcapture %}
          <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
        </div>
        {% endif %}
        
      </div>
      <a href="{{ product.url | within: collection }}" class="grid-product__meta">
        {% if section.settings.product_vendor_enable %}
        <p class="grid-product__vendor">{{ product.vendor }}</p>
        {% endif %}
        <span class="grid-product__title">{{ product.title }}</span>
        <span class="grid-product__price-wrap">
          {% if product.compare_at_price > product.price %}
          <span id="PriceA11y" class="visually-hidden" {% unless current_variant.available %}aria-hidden="true"{% endunless %}>{{ 'products.general.regular_price' | t }}</span>
          <span class="grid-product__price product-single__price--wrapper" aria-hidden="false">
            <span id="ComparePrice" class="product-single__price--compare-at">
              ₹{{ product.compare_at_price | money_without_currency }}
            </span>
          </span>
          <span id="ComparePriceA11y" class="visually-hidden" aria-hidden="false">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
          <span id="PriceA11y" class="visually-hidden" {% unless product.available %}aria-hidden="true"{% endunless %}>{{ 'products.general.regular_price' | t }}</span>
          <span class="grid-product__price product-single__price--wrapper hide" aria-hidden="true">
            <span id="ComparePrice" class="product-single__price--compare-at"></span>
          </span>
          <span id="ComparePriceA11y" class="visually-hidden" aria-hidden="true">{{ 'products.general.sale_price' | t }}</span>
          {% endif %}

          <span id="ProductPrice"
                class="grid-product__price product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %}"
                itemprop="price"
                content="{{ product.price | divided_by: 100.00 }}"
                {% unless product.available %}aria-hidden="true"{% endunless %}>
            ₹{{ product.price | money_without_currency }}
          </span>
        </span>
      </a>
      {% assign swatch_count = 0 %}
      {% for variant in product.variants %}
      {% assign swatch_count = swatch_count | plus : 1 %}
      {% endfor %}
      <a href="{{ product.url | within: collection }}" class="shades_count">{% if swatch_count > 1 %}{{ swatch_count }} shades{% else %}&nbsp;{% endif %}</a>
      <span class="text-center">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </span>
    </div>
  </div>
  <div class="buy_cart--wrapper">
    {% if product.available %}
    {% if settings.enable_buy_btn %}
    <a href="/cart/{{ product.variants.first.id }}:1" class="btn buy_now">Buy Now</a>
    {% endif %}
    <form method="post" action="/cart/add">
      {% assign swatch_count = 0 %}
      {% for variant in product.variants %}
      {% assign swatch_count = swatch_count | plus : 1 %}
      {% endfor %}
      {% if swatch_count == 1 %}
      <input type="hidden" class="addtocart_variant-{{ product.id }}" name="id" value="{{ product.variants.first.id }}" />
      {% assign cbu = product.variants.first.barcode | split : ',CBU:' %}
      {% assign basepack = product.variants.first.barcode | split : ',Basepack:' %}
      {% assign hsn = product.variants.first.barcode | split : ',HSN:' %}
      <input type="hidden" class="basepack-{{ product.id }}" value="{{ basepack[1] | split : ',CBU' | first }}" />
      <input type="hidden" class="hsn-{{ product.id }}" value="{{ hsn[1] | split : ',HSN' | first }}" />
      <input type="hidden" class="cbu-{{ product.id }}" value="{{ cbu[1] | split : ',CBU' | first }}" />
      <input type="hidden" class="awb-{{ product.id }}" value="{{product.handle}}" />
      <button type="submit" value="Cart" class="btn add-toCart-{{ product.id }}">Add to Bag</button>
      <!--         <input type="hidden" name="return_to" value="back" /> -->
      {% else %}
      <a href="{{ product.url | within: collection }}" class="shades_count btn">View shades</a>
      {% endif %}
    </form> 
    {% else%}
    <button type="button"  class="btn soldout" disabled >Sold Out</button>
    {% endif %}
  </div>
</div>
<script>
  var rand,count=0;
  $('.add-toCart-'+{{ product.id }}).click(function(e){
    count++;
    e.preventDefault();
    rand = Math.floor(Math.random() * 100000000) + 0  ;
    if($.cookie("{{product.handle}}")== undefined || $.cookie("{{product.handle}}")=='')
                {
                var date = new Date();
       var minutes = 120;
       date.setTime(date.getTime() + (minutes * 60 * 1000));
    $.cookie("{{product.handle}}","{{product.handle}},"+rand, { path: '/' , expires: date });
             var product_handle = $('.awb-'+{{ product.id }}).val();
    if(count==1)
    {
      var concatinate = product_handle+rand;
    }
    else
    {
      var concatinate = $('.awb-'+{{ product.id }}).val();
    }
    $('.awb-'+{{ product.id }}).val(concatinate);
  }
  else
  {
    var string = $.cookie("{{product.handle}}");
                          var result = string.split(',');

    rand = result[1];
    var product_handle = $('.awb-'+{{ product.id }}).val();

    if(count==1)
    {
      var concatinate = product_handle+rand;
    }
    else
    {
      var concatinate = $('.awb-'+{{ product.id }}).val();
    }

    $('.awb-'+{{ product.id }}).val(concatinate);
  }

  $('.addtocartAddedText').addClass('active');
  $('.addtocartAddedText').css('display','block');
  var addtocart_variant = $('.addtocart_variant-'+{{ product.id }}).val();
  var addtocart_basepack = $('.basepack-'+{{ product.id }}).val();
  var addtocart_cbu = $('.cbu-'+{{ product.id }}).val();
  var addtocart_hsn = $('.hsn-'+{{ product.id }}).val();

  jQuery.post('/cart/add.js', {
    quantity: 1,
    id: addtocart_variant,
    properties:
    {
      "Basepack":addtocart_basepack,
      "CBU":addtocart_cbu,
      "AWBs":concatinate,
      "HSN" :addtocart_hsn
    }
  });
  setTimeout(function(){
    jQuery.getJSON('/cart.js', function(cart) {
      $('.cart-link__bubble').text('');
      $('.cart-link__bubble').addClass('cart-link__bubble--visible');
      $('.cart-link__bubble').text(parseInt(cart.item_count));
    })
  },600)
  setTimeout(function(){
    $('.addtocartAddedText').removeClass('active');
    $('.addtocartAddedText').css('display','none')
  },3500)
  })
</script>