<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}
    {{ checkout_scripts }}
    {% include 'adobe-analytics-head' %}
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="loader" style="display:none"></div>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
            {% if settings.pincodes != blank %}
            {% assign pincodes = settings.pincodes | split: ',' %}
            <span class="all_pincodes" style="display:none">{% for pincode in pincodes %}{{ pincode }} {% endfor %}</span>
            {% endif %}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  jQuery(document).ready(function($){
    $('ul.breadcrumb .breadcrumb__item:nth-child(3)').css('display','none');
    setInterval(function(){
      $('.product__description__property').css('display','none');
      //$('#checkout_reduction_code').attr('placeholder','Coupon Code');
    },100)
    //     setTimeout(function(){
    //     $('.product__description__property').css('display','none');
    //     },3000)
    if('localStorage' in window){
      if(localStorage.getItem('register')=='true')
      {
        console.log('true');
        setTimeout(function(){
           var ev = {};
        ev.eventInfo={
          'type':ctConstants.trackEvent,
          'eventAction': ctConstants.registration,
          'eventLabel' : 'Registration has been successful.',
          'eventValue' :1
        };
        ev.category ={'primaryCategory':ctConstants.other};
        digitalData.event.push(ev);
        localStorage.setItem('register','false');
        },1000);
       
      }
      }
    $('.logged-in-customer-newsletter').wrap('<div class="custom-news"></div>');
    $('.step__sections .fieldset').append($('.custom-news').html());
    $('.custom-news').remove();
    if($(window).width() > 768 )
    {
      $('.step__footer__continue-btn').each(function(){
        if($(this).attr('data-trekkie-id') == 'continue_to_shipping_method_button')
        { 
          $(this).wrap('<div class="custom-btn"></div>');
          $('.custom-btn').css('display','none');
          $('.order-summary__sections').append('<button class="custom_btn step__footer__continue-btn btn ">Proceed to pay</button>');
        }
        else if ($(this).attr('data-trekkie-id') == 'complete_order_button')
        {
          $(this).wrap('<div class="custom-btn"></div>');
          $('.custom-btn').css('display','none');
          $('.order-summary__sections').append('<button class="custom_btn step__footer__continue-btn btn ">Complete Order</button>');
          $('.custom_btn').eq(1).remove();
        }
      })
    }
    $('.custom_btn').click(function(){
      $('.custom-btn').find('button').trigger('click')
    })
    var data_track_id = $('.step__footer__continue-btn').attr('data-trekkie-id');
    if(data_track_id == 'continue_to_payment_method_button' || data_track_id == 'complete_order_button' ){
      setTimeout(function(){
        $('.step__footer__continue-btn').prop('disabled',false);
      },500)
    }
    var pay_step = $('.step').attr('data-step');
    if(pay_step == 'shipping_method'){
      $(".loader").show();
      $('.step__footer__continue-btn').trigger('click');
    }
    if(pay_step == 'contact_information'){
      $('.section--shipping-address .fieldset').append('<div class="checkbox-wrapper"><div class="checkbox__input"><input type="checkbox" class="input-checkbox" aria-required="true"  name="checkout[attributes][Receive Updates]" id="recieve" value="Yes"/></div><label class="checkbox__label" for="recieve">I am above the age of 18, and I would like to receive these news and offers from brand Lakmé.</label></div>');
    }
    $('.field__input-btn').click(function(){
      if($(this).attr('data-trekkie-id') == 'apply_discount_button'){
        setTimeout(function(){
          location.reload();
        },2000);
      }
    })
    var count = 0;
    if(pay_step == 'payment_method' || pay_step == 'shipping_method'){
      //$('.step__sections .section .content-box__row .review-block .review-block__content:nth-child(3)').text('');
      $('.step__sections .section .content-box__row .review-block').each(function(){
        count++;
        if(count == 3){
          $(this).find('.review-block__inner .review-block__content').text('');
          $(this).find('.review-block__inner .review-block__content').text('2 to 5 business days');
        }
      })
      if(pay_step == 'payment_method'){
        $('.total-line--taxes').removeClass('hidden');
        var order_subtotal = $('.total-line--subtotal .total-line__price .order-summary__emphasis').text();
        console.log(order_subtotal);
        var val = $(this).find('td.product__price span.order-summary__emphasis').text();
        var myString = order_subtotal.substr(order_subtotal.indexOf(".") + 1);
        myString=myString.replace(/\,/g,'');
        myString=parseInt(myString,10);
        var intVal = parseInt(myString);
        var gstPrice = intVal * 18 / 100;
        $('.total-line--taxes .order-summary__emphasis').text();
        $('.total-line--taxes .order-summary__emphasis').text('Rs. '+parseInt(gstPrice)+'.00');
        var subtotal = parseInt(myString) - parseInt(gstPrice);
        var subtotal_amt = subtotal.toLocaleString();
        $('.total-line--subtotal .total-line__price .order-summary__emphasis').text();
        $('.total-line--subtotal .total-line__price .order-summary__emphasis').text('Rs. '+subtotal_amt+'.00');
        $('.step__footer__previous-link').hide();
        if($(window).innerWidth() < 768){
          var section_payment = $('.section--payment-method').html();
          $(".step__footer").after('<div class="section section--payment-method section-payment__new" data-payment-method="">'+section_payment+'</div>');;
        }
      }
    }
    //$('.step__footer__continue-btn').prop('disabled','true');//1
    if($('.field__input--zip').val()==null)
    {
      var button=false;
    }
    else
    {
      var button= true;
    }

    $('.field--quarter').each(function(){
      var div = $(this).attr('data-address-field');
      if(div=='zip')
      {
        $(this).addClass('wrong');
        $(this).append('<span id="msg"></span>');

      }
    })
    $('.field--required').each(function(){
      var div = $(this).attr('data-address-field');
      if(div=='phone')
      {
        $(this).addClass('wrong');
        $(this).append('<span id="msg1"></span>');

      }
    })
    $('.field__input--numeric').keyup(function(){
      var inputtxt = $('.field__input--numeric').val();
      inputtxt = inputtxt.replace(/[^0-9]/g,'');
      //console.log(inputtxt);
      if(inputtxt!='')
      {
        if (inputtxt.charAt(0)=='6' || inputtxt.charAt(0)=='7' || inputtxt.charAt(0)=='8' || inputtxt.charAt(0)=='9' )
        {
          if(inputtxt.length == 10)
          {
            $('#msg1').text('');
            $('.step__footer__continue-btn').prop('disabled',false);
          }
          else
          {
            $('.step__footer__continue-btn').prop('disabled',true);
            $('#msg1').text('');
            $('#msg1').text('Mobile number should be 10 digits');
          }
        } else{

          $('.step__footer__continue-btn').prop('disabled',true);
          $('#msg1').text('');
          $('#msg1').text('Invalid mobile number');
        } 
      }


    })
    $('.field__input--zip').keyup(function(){

      // $('.step__footer__continue-btn').prop('disabled',true);2
      button=false;
      var str1 = $('.all_pincodes').text();
      var str2 = $('.field__input--zip').val();
      if(str1.indexOf(str2) != -1 && str2!='' && str2.length=='6'){
        $('#msg').text('');
        $('#msg').text('Delivery time: 2-5 business days.')
        // $('.step__footer__continue-btn').prop('disabled',false);3

        button=true;
      }
      else {
        $('#msg').text('');
        $('#msg').text('Delivery not available.')
        //$('.step__footer__continue-btn').prop('disabled',true);4
        button=false;
      }
    })

    $('.step__footer__continue-btn').click(function(){
      if(!button && $('.field__input--zip').val())
      {
        $('#msg').text('');
        $('#msg').text('Please check your pincode');
        return false
      }
      else
      {
        return true
      }
    })
    //=== checkout banner code ===//
    var total_payment = $('.payment-due').find('span').attr('data-checkout-payment-due-target');
    total_payment = total_payment/100;
    if(total_payment >= 1500)
       {
         $('#order-summary .order-summary__sections').append('<div class="bag-wrapper"><div class="img-bag"><img src="https://cdn.shopify.com/s/files/1/0014/3514/0183/files/2_4ccf37d1-0b7c-4121-a4b4-3e6fd0d77734.png?10828"/></div><div class="bag-content"><h2 class="text-center">You have just earned a makeup pouch FREE with this order. </h2></div></div>');
       }
    //=== checkout banner code ===//
  })
</script>
{% include 'adobe-analytics' %}