<!-- sections/product-relatedStories.liquid -->
<style>
    .hr-d-flex {
        display         : flex;
        justify-content : center;
        margin-top      : 15px;
        margin-bottom   : 15px;
    }

    .hr-align-text {
        text-align : justify !important;
    }

    .hr-custom-width {
        width : 30% !important;
    }

    .hr-custom-width span {
        float          : right !important;
        font-family    : HeroicCondensedRegular, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        text-transform : uppercase;
        font-weight    : bold;
        letter-spacing : 1px;
    }

    .hr-custom-width span a {
        text-decoration : none;
        color           : #000;
        position        : relative;
        z-index         : 9;
    }

    .hr-custom-h5-heading {
        margin         : 0 0 10px;
        line-height    : 1;
        letter-spacing : 0px;
        font-size      : 1.5em;
        font-weight    : 600;
    }

    .hr-custom-para-content-mobile {
        padding-right : 0% !important;
        padding-left  : 0% !important;
        text-align    : left !important;
    }

    .related-stories .hr-custom-image-grid {
        width : 100%;

    }

    .related-stories .h5 {
        margin-top : 20px;
    }

    .related-stories .h5 a {
        color           : #000;
        font-family     : HeroicCondensedRegular, "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        text-decoration : none;
    }

    .related-stories p {
        line-height : 22px;
        font-size   : 20px;
        font-family : 'HelveticaNeueLTStd-Cn';
    }

    @media screen and (max-width : 640px) {
        .hr-d-flex {
            flex-direction : column;
            padding-left   : 0;
        }

        .hr-custom-width {
            width      : 100% !important;
            text-align : center !important;
        }

        .hr-custom-image-grid {
            width  : 80%;
            margin : 0 auto;
        }

        .hr-custom-h5 {
            font-size     : 1em;
            font-weight   : bold;
            text-align    : left;
            margin-bottom : 0px;
        }

        .hr-mobile-custom-content-width {
            padding : 0 6% !important;
        }

        .hr-custom-para-content-mobile {
            padding-right : 0% !important;
            padding-left  : 0% !important;
            text-align    : left !important;
        }

        .hr-d-flex:nth-child(2) {
            flex-direction : column-reverse;
        }

        .hr-d-flex:nth-child(3) {
            margin-bottom : 0px;
        }

        .related-stories p {
            font-size : 18px;
        }

        .height--space {
            margin-bottom : 0px;
        }

        .related-stories .h5 {
            margin-bottom : 5px;
            margin-top    : 10px;
        }

        .hr-custom-width span {
            line-height   : 12px;
            margin-bottom : 10px;
        }
    }
</style>

<div class="product-template__container page-width" id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}">
    {% if product.metafields.lakmeContent.relatedStories.heading != blank %}
        <div class="hr-custom-discover">
            <hr class="first-hr">
            <div class="hr-h3">
                <span class="h3">{{ product.metafields.lakmeContent.relatedStories.heading }}</span>
            </div>
            <hr class="last-hr">
        </div>
    {% endif %}
    {% if product.metafields.lakmeContent.relatedStories.stories != blank %}
        <div class="grid text-center contentWidget">
            <div class="grid__item contentWidget-content hr-mobile-custom-content-width related-stories"
                 style="padding: 0 12%;">
                {% assign is_odd = true %}
                {% assign contentAlignment = "left" %}
                {% assign imageAlignment = "right" %}

                {% for story in product.metafields.lakmeContent.relatedStories.stories %}
                    {% assign blogHandle = story.articleHandle | split: '/' | first %}
                    {% assign blog = blogs[blogHandle] %}
              
                    {% assign article = articles[story.articleHandle] %}
                    {% assign storyImage = article.image.src | img_url: '250x' %}
                    {% if story.image != blank %}
                        {% assign storyImage = story.image %}
                    {% endif %}
                    <!--
                        Blog Link: {{ blog.url }}
                        Article Image: {{ article.image.src }}
                        Story Image : {{ story.image }}
                    -->
                    <div class="grid__item hr-d-flex">
                        {% if is_odd == true %}
                            <div class="grid__item large--one-half small--one-whole text-right hr-align-text hr-custom-width">
                                <img class="hr-custom-image-grid" src="{{ storyImage }}"
                                     alt="{{ article.title }}" />
                                <span class="text-{{ imageAlignment }}"><a href="{{shop.url}}/pages/{{blogHandle}}">| {{ blog.title }} |</a></span>
                            </div>
                        {% endif %}
                        <div class="grid__item large--one-half small--one-whole text-{{ contentAlignment }} hr-align-text">
                            {% if article.title != blank %}
                                <span class="h5 hr-custom-h5 hr-custom-h5-heading">{{ article.title | link_to: article.url }}</span>
                            {% endif %}
                            <section><p class="text-{{ contentAlignment }} hr-custom-banner-p hr-custom-para-content-mobile height--space"
                               style="padding-{{ imageAlignment }}: 20%;">{{ article.content | strip_html | truncatewords: 90 }}</p></section>
                        </div>

                        {% if is_odd == false %}
                            <div class="grid__item large--one-half small--one-whole text-left hr-align-text hr-custom-width">
                                <img class="hr-custom-image-grid" src="{{ storyImage }}"
                                     alt="{{ article.title }}" />
                                <span class="text-{{ imageAlignment }}"><a href="{{shop.url}}/pages/{{blogHandle}}">| {{ blog.title }} |</a></span>
                            </div>
                        {% endif %}
                    </div>
                    {% if is_odd == true %}
                        {% assign is_odd = false %}
                        {% assign contentAlignment = "right" %}
                        {% assign imageAlignment = "left" %}
                    {% else %}
                        {% assign is_odd = true %}
                        {% assign contentAlignment = "left" %}
                        {% assign imageAlignment = "right" %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
