<div class="grid">
  <div class="grid__item one-whole">
    {% if section.settings.video != blank %}
    <div class="video--wrapper"  {% if section.settings.image != blank %}style="background-image:url('{{ section.settings.image | img_url: '1350x767' }}')"{% endif %}>
      <iframe id="player" src="https://www.youtube.com/embed/{{ section.settings.video }}?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {% endif %}
    <div class="wrapper">
      <div class="bottom-section">
        {% if section.settings.title != blank %}
        <h2 class="h2">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
        <div class="video_wrapper--subtext">
          {{ section.settings.text }}
          {% if section.settings.btn_text != blank and section.settings.btn_url != blank %}
          <a class="content_on_right--link" href="{{ section.settings.btn_url }}">
            {{ section.settings.btn_text }}
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
"name": {
"en": "Image & Video Section"
},
"class": "image_video--section",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": {
"en": "Background Image"
}
},
{
"type" : "html",
"id" : "video",
"label" : "Youtube Embed Code"
},
{
"type": "text",
"id": "title",
"label": {
"en": "Heading"
}
},
{
"type": "richtext",
"id": "text",
"label": {
"en": "Text"
}
},
{
"type" : "header",
"content" : "Button Content"
},
{
"type" : "text",
"id" : "btn_text",
"label" : "Button Text"
},
{
"type" : "url",
"id" : "btn_url",
"label" : "Url"
}
]
}
{% endschema %}
